.form-collage {
  padding: 2rem 5rem;
  display: flex;
  gap: 4px;
  justify-content: center;
  min-width: 30%;

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 190px;
    gap: 4px;

    &>img {
      border-radius: 4px;
      -webkit-background-size: contain;
      background-size: contain;
    }
  }
}
