@import "../../assets/colors.scss";

.card-details {

  &__container {
    border: 1.5px double $mainBlack;
  }

  &__container,
  &__content {
    box-sizing: border-box;
    line-height: 24px;
    display: flex;
    padding: 10px;
  }

  &__content {
    gap: 20px;
    max-width: 800px;
    width: 100%;
  }
}

.image-container {
  display: flex;
  flex-basis: 40%;

  & > img {
    width: 100%;
    height: 100%;
    background-size: contain;
  }
}

.card-info {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  gap: 5px;

  &__title {
    margin: 0;
    padding: 5px 0;
  }

  &__rating {
    font-size: 2rem;
    margin-left: -5px;
    color: $lavenderHover;
  }

  &__price {
    font-weight: 500;
    font-size: 1.5rem;
  }

  &__description {
    flex: 1 1 auto;
    letter-spacing: 0.2px;
  }

  &__time {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 10px;
  }

  &__time-count {
    margin-left: 7px;
  }

  &__submit {
    display: block;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: $lavenderHover;
    color: $mainWhite;
  }
}

.card-review {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__feedback{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: start;
  }

  &__stars {
    font-size: 2rem;
    margin-left: -2px;
  }

  &__text {
    font-size: 0.9rem;
  }
}
