@import "colors";

.error-page {
  margin: 200px auto;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & > a {
    color: $lavenderAccent;
  }
}
