@import "colors";
@import "normalize.css";

.forms {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &__description {
    font-size: 1.1rem;
  }

  &__loyalty-card  {
    position: absolute;
    transform: rotateZ(-30deg);
    top: 400px;
    left: -200px;
    opacity: 0.3;
    width: 500px;
    height: 300px;
    border-radius: 4px;
    -webkit-background-size: contain;
    background-size: contain;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    padding-top: 30px;
    gap: 20px;
    position: relative;
    z-index: 5;
  }

  &__client-details {
    font-size: 1.3rem;
    margin: 0;
  }

  &__requirements {
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: 0;
    width: 100%;
    margin-bottom: -15px;
  }

  &__submit-btn {
    display: flex;
    width: 100%;
    background-color: $mainWhite;
    border: 1.5px solid $lavenderAccent;
    border-radius: 4px;
    height: 48.5px;
    padding: 13px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    color: $mainBlack;

    &:hover,
    &:focus {
      background-color: $lavenderHover;
      transition: background-color ease-in-out .5ms;
      color: $mainWhite;
    }

    &>span {
      width: 100%;
      text-align: center;
      font-size: 1.3rem;
      letter-spacing: 1.1px;
    }
  }

  &__submitted-info {
    width: 100%;
  }

  &__submitted-info-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }

}

