@import "colors";
@import "normalize.css";

.forms {
  padding: 20px 10px 60px;
  display: flex;

  &__description {
    font-size: 1.1rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 550px;
    padding: 30px;
    gap: 25px;
    position: relative;
    z-index: 5;
    height: fit-content;
  }

  &__client-details {
    font-size: 1.3rem;
    margin: 0;
  }

  &__requirements {
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: 0;
    width: 100%;
    margin-bottom: -15px;
  }

  &__submit-btn {
    display: flex;
    width: 100%;
    background-color: #f3eef8;
    border: 1.5px solid $lavenderAccent;
    border-radius: 4px;
    height: 48.5px;
    padding: 13px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    color: $mainBlack;

    &:hover,
    &:focus {
      background-color: $lavenderAccent;
      transition: background-color ease-in-out .5ms;
      color: $mainWhite;
    }

    &>span {
      width: 100%;
      text-align: center;
      font-size: 1.3rem;
      letter-spacing: 1.1px;
    }
  }

  &__submitted-info {
    width: 100%;
  }

  &__submitted-info-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 20px 30px;
    flex-wrap: wrap;
  }

}

.form-collage {
  padding: 2rem 5rem;
  display: flex;
  gap: 4px;
  justify-content: center;
  min-width: 30%;

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 190px;
    gap: 4px;

    &>img {
      border-radius: 4px;
      -webkit-background-size: contain;
      background-size: contain;
    }
  }
}
